header {
    font-size: 20px; background: rgb(0, 0, 0); padding: 5px; color: #fff; margin-bottom: 0px; position:relative;
}
.logo {
    margin-left: 2px; width: 5%; position: relative; margin-right: 600px;
}

main {
    background-color:rgb(241, 241, 227) ; display:flex; font-size: 20px; margin-bottom: 0px; background:linear-gradient(135deg, black, darkblue)
}

.camp1 {
    margin-top: 100px; margin-left: 5%; margin-right: 0px; text-align: center;

}
.inMsj {
    text-align: center; font-style: italic; border: none; background: transparent; font-weight: bold; color: #fff; font-size: 1.5em;
}

.botones {
    width: 50%; padding: 55px 15px; font-size: 18px; display: inline-block;
}
.btn1 {
    width:auto; padding: 5% 5px; font-size: 15px; font-weight: bold; color: #fff;
    background: rgb(21, 67, 135); border: none; border-radius: 10px; margin-left: 10%; transition: 1s all;
}
.btn2 {
    width: auto; padding: 5% 5px; font-size: 15px; font-weight: bold; color: #fff;
    background: rgb(21, 67, 135); border: none; border-radius: 10px; margin-right: 10%; margin-left: 10px; transition: 1s all;
}

.camp2 {
    margin-top: 100px; margin-left: 100px; position:relative;
}
.outMsj {
    text-align: center; border: none; background: transparent; font-weight: bold; color: #fff; font-size: 1.5em;
}
.salto {
    margin-right: 190px; width: 10%; padding: 5px; color: rgb(228, 54, 54); font-size: 30px; font-weight: bold; 
    border:solid rgb(64, 64, 64); border-radius: 360px; position:relative; transition: 1s all; margin-bottom: 5px; background-color:rgb(6, 6, 71) ;
}
.copy {
    width: 35%; padding: 5px; font-size: 20px; font-weight: bold; color: #fff;
    background: rgb(21, 67, 135); border: none; border-radius: 7px; margin-left: 360px;
    margin-top: 40px; position: relative; transition: 1s all;
}

footer{
    text-align: center; 
    background: url(imagenes/bg.jpg); 
    padding: 50px;
    color: #fff;
}

/* AQUI COMIENZAN LOS EFECTOS */

.btn1:hover{
    background-color: rgb(6, 6, 71);
}
.btn2:hover:hover{
    background-color: rgb(6, 6, 71);
}
.salto:hover{
    background-color: rgb(10, 10, 103); font-size: 32px; color: #fff;
}
.copy:hover{
    background-color: rgb(6, 6, 71);
}
